<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Наши коты</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1>Наши коты</h1>
        <p>Самые лучшие коты в мире</p>
        <img src="img/keks.png">
      </header>

      <section class="features">
        <h2>Знакомьтесь - ${cat.name}</h2>
        <p class="cat-name">${cat.name}</p>
        <p class="cat-weight">${cat.weight} Кг.</p>
        <p class="cat-isAngry">${catIsAngry}</p>
      </section>

      <section class="skills">
        <h2>"Из коробки" ${cat.name} уже умеет:</h2>
        <ul class="skills-list">
          <li class="skills-item">таскать еду из хозяйской тарелки;</li>
          <li class="skills-item standart">придавать мебели винтажный стиль;</li>
          <li class="skills-item standart">открывать дверь и не входить;</li>
          <li class="skills-item vip">будить хозяина ночью;</li>
          <li class="skills-item vip">разбрасывать шерсть по квартире.</li>
        </ul>
      </section>

      <footer class="site-footer">
        <a href="index.html" id="footer-link-left">
        <p>© НашиКоты GmbH, 2023</p>
        </a>
        <a href="index.html" id="footer-link-right">
        <p>"НашиКоты" сами вас найдут</p>
        </a>
      </footer>
    </div>
  </body>
</html>
